.article-item{
    list-style-type: none;
    line-height: 1.6em;
    padding-bottom: 2em;
}

.article-title{
    display: block;
    font-weight: 700;
}

.author, .article-date{
    margin-left: 1em;
}

.article-date{
    display: block;
}

.up-vote, .comments{
    border-radius: 40%;
    background-color:azure;
    margin-left: 1em;
    cursor: pointer;
}

.article-image{
    width: 30em;
    max-width: 75vw;
    height: 10em;
    object-fit:cover;
}

.article-body{
    margin-top: 2em;
}