.comment-item{
    list-style-type: none;
    line-height: 1.6em;
    padding-bottom: 1em;
}

.comment-controls{
    display: block;
}
.article-item{
    list-style-type: none;
    line-height: 1.6em;
    padding-bottom: 2em;
}

.article-title{
    display: block;
    font-weight: 700;
}

.author, .article-date{
    margin-left: 1em;
}

.article-date{
    display: block;
}

.up-vote, .comments, .delete{
    border-radius: 40%;
    background-color:azure;
    margin-left: 1em;
}

.clickable{
    cursor: pointer;
}

.disabled{
    color: grey;
    filter: grayscale(100%);
    cursor: not-allowed;
}

.article-image{
    width: 30em;
    max-width: 75vw;
    height: 10em;
    object-fit:cover;
}

.article-body{
    margin-top: 2em;
}

.article-feedback {
    color: red;
    padding-left: 1em;
    font-weight: bolder;
}

.comment-item{
    background-image: linear-gradient(45deg, #fefefe, #fafafa);
    border-style: solid;
    border-width: 1px;
    border-color: #eeeeee;
    border-radius: 1em 1em 1em 0;
    margin: 0.5em;
    padding: 0.15em;
    max-width: 800px;
    box-shadow: 10px 10px 5px #c0c0d0;
}

.new-comment-form{
    margin: 0.4em;
}

.new-comment-body {
    width: 97%;
    display: block;
    height: 5em;
    border-style: solid;
    border-width: 1px;
    background: transparent;
}

.new-comment-feedback {
    color: red;
    padding-left: 1em;
    font-weight: bolder;
}

.comment-feedback {
    color: red;
    padding-left: 1em;
    font-weight: bolder;
}

.comment-deleting {
    color: grey;
    filter: grayscale(100%);
}